

@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif;
}

/* Que todo mida con border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}
