.hero {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;   /* centramos horizontalmente el bloque */
    gap: 2rem;
    padding: 1rem;
    min-height: 80vh;          /* alto mínimo de la sección */
    width: 100%;
    overflow: hidden;
}

/* Fondo borroso */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/portada2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -100px; /* aquí te faltaba px */
    transform: scale(1.05);
    z-index: 0;
    /* si quieres blur:
    filter: blur(6px);
    */
}

/* Contenido encima del fondo */
.hero > * {
    position: relative;
    z-index: 1;
}

.heroContent {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Si luego agregas title/subtitle, esto ya funciona */
.title {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    color: #055a0e;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title p {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-style: italic;
}
.subtitle {
    font-size: 1.15rem;
    line-height: 1.6;
    color: #091d16;
    margin-bottom: 2rem;
}

.img{
    width: 50%;
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
}

.img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}


.cta {
    border: none;
    padding: 0.9rem 1.8rem;
    border-radius: 999px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(135deg, #5e8f63, #205225);
    color: #ffffff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    transition: transform 0.15s ease, box-shadow 0.15s ease, filter 0.15s ease;
    margin-bottom:3.5rem;
}

.cta p {
    font-weight: 600;
}

.cta:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
    filter: brightness(1.03);
    background: linear-gradient(135deg, #205225,#5e8f63 );
}

/* Responsive */
@media (max-width: 900px) {
    .hero {
        padding: 3rem 1.5rem;
        min-height: 100vh;     /* a veces se siente mejor en mobile */
    }

    .title {
        font-size: 1.3rem;
        line-height: 2.4rem;
        width: 100%;
    }
    .img {
        width: 70%;
    }
    .cta {
        margin-bottom: 2.5;
    }
    .cta p {
    font-weight: 500;
}
}
