.heroSection {
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, #f0f4ff 100%);
  color: #3a3a3a;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #6b7280;
}

.catalogo {
  padding: 2rem 0; /* el padding horizontal lo maneja el Container */
}

.catalogo h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: block;
  color: black;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.p {
  margin: 0;
  font-size: 0.9rem;
  color: #6b7280;
}

/* --- RESPONSIVE --- */
@media (max-width: 640px) {
  .heroSection {
    padding: 3rem 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .image {
    height: 16rem;
  }
}
